        <h5>Reportes de FTP</h5><button onclick="exportarExcel('vsftpd')" class="btn btn-success">Descargar</button>
        <h5 class="mt-4 text-center">Conteo de entradas</h5>

        <div class="bg-white p-3 rounded shadow-sm mb-4 text-center" style="overflow-x: auto;">
          <img src="{{ resultados['g1'] }}" class="img-fluid" alt="Gráfico de logs FTP">
        </div>


        <h5 class="mt-4">Tabla de logs FTP</h5>

        {% if resultados['tabla'] %}
        <div class="bg-white shadow-sm rounded p-3" style="max-height: 500px; overflow: scroll;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Fecha y hora</th>
                <th>Usuario</th>
                <th>IP</th>
                <th>Acción</th>
                <th>Archivo</th>
                <th>Detalles</th>
              </tr>
            </thead>
            <tbody>
              {% for fila in resultados['tabla'] %}
              <tr>
                <td>{{fila['fecha_hora']}}</td>
                <td>{{fila['usuario']}}</td>
                <td>{{fila['ip']}}</td>
                <td>{{fila['accion']}}</td>
                <td>{{fila['archivo']}}</td>
                <td>{{fila['detalles']}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p class="text-muted">No se encontraron resultados.</p>
        {% endif %}

