<h5 class="mt-4 text-center">Conteo de entradas</h5><button onclick="exportarExcel('xfer')" class="btn btn-success">Descargar</button>
        <div class="bg-white p-3 rounded shadow-sm mb-4 text-center" style="overflow-x: auto;">
          <img src="{{ resultados['g1'] }}" class="img-fluid" alt="Gráfico de logs FTP">
        </div>

        <h5 class="mt-4">Tabla tipo xfer_logs FTP</h5>
        {% if resultados['tabla'] %}

        <div class="bg-white shadow-sm rounded p-3" style="max-height: 500px; overflow: scroll;">
          <div class="table-responsive bg-white shadow-sm rounded p-3" style="overflow-x: auto;">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Fecha y hora</th>
                  <th>Tiempo de Transferencia</th>
                  <th>Host remoto</th>
                  <th>Tamaño del archivo</th>
                  <th>Nombre del archivo</th>
                  <th>Tipo de transferencia</th>
                  <th>Acción especial</th>
                  <th>Direccion</th>
                  <th>Usuario</th>
                  <th>Servicio</th>
                  <th>Método de autenticación</th>
                  <th>Usuario autenticado</th>
                </tr>
              </thead>
              <tbody>
                {% for fila in resultados['tabla'] %}
                <tr>
                  <td>{{fila['fecha_hora']}}</td>
                  <td>{{fila['duracion']}}</td>
                  <td>{{fila['servidor']}}</td>
                  <td>{{fila['tamaño_archivo']}}</td>
                  <td>{{fila['archivo']}}</td>
                  <td>{{fila['tipo_transferencia']}}</td>
                  <td>{{fila['accion_especial']}}</td>
                  <td>{{fila['direccion']}}</td>
                  <td>{{fila['usuario']}}</td>
                  <td>{{fila['servicio']}}</td>
                  <td>{{fila['metodo_autenticacion']}}</td>
                  <td>{{fila['usuario_id']}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
            <p class="text-muted">No se encontraron resultados.</p>
          {% endif %}